= stylesheet_link_tag    'amaretti/lib/select2/css/select2.min.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'amaretti/css/style', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'amaretti/lib/jquery.nanoscroller/css/style', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'amaretti/lib/stroke-7/style.css', media: 'all', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag    'admin', media: 'all', 'data-turblinks-track': 'reload'
= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'amaretti/lib/jquery/jquery.min', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'amaretti/lib/jquery.nanoscroller/javascripts/jquery.nanoscroller', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'amaretti/js/main', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'amaretti/lib/bootstrap/dist/js/bootstrap', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'amaretti/lib/select2/js/select2.min.js', 'data-turbolinks-track': 'reload'
